FIREBASE_API_KEY=AIzaSyBjfhpyDeoSX_-AeOzTgobPLNKqV0DUBQ8
GEMINI_API_KEY=
GEMINI_API_KEYS=
HOST=0.0.0.0
VITE_FIREBASE_API_KEY=AIzaSyBjfhpyDeoSX_-AeOzTgobPLNKqV0DUBQ8
VITE_FIREBASE_AUTH_DOMAIN=app-levelup-ecosystem.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=app-levelup-ecosystem
VITE_FIREBASE_STORAGE_BUCKET=app-levelup-ecosystem.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=338931284223
VITE_FIREBASE_APP_ID=1:338931284223:web:33763b0f82bc98c8eff4ca
VITE_FIREBASE_MEASUREMENT_ID=G-J73ZNS49L0